body {  
    background-position: center;
}
  
  input[name=dataAngka] {
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted  rgb(128, 128, 219);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  table {
      position: relative;
      border-radius: 10px;
      background-color: rgba(235, 173, 211, 0.7);
      border-top: 3px solid rgb(206, 64, 135);
      margin: 16px auto;
      padding: 20px 25px;
      width: 50%;
      box-shadow: 0 0 10px rgba(255,255,255,.3);
  }
 
.button {
    margin-top: 15px;
    background-image: linear-gradient(to right, rgb(156, 222, 248), rgb(128, 128, 219));
    border: none;
    border-radius: 8px;
    box-shadow: rgb(32, 106, 218) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: Monospace, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
  }
  

  